# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environments

venv/
env/
ENV/
.venv/

# Django

db.sqlite3
*.sqlite3

media/
staticfiles/

# Django Secrets

.env
.env.*
!.env.example

# Logs

*.log

# IDEs

.vscode/
.idea/

# OS Files

.DS_Store
Thumbs.db

# Node / React

node_modules/
dist/
build/

# npm

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite

.vite/

# Coverage

.coverage
htmlcov/
.pytest_cache/

# Docker

docker-compose.override.yml

# PostgreSQL Local Data

postgres_data/

# Gunicorn

gunicorn.pid

# Misc

*.swp
*.swo
*.bak

# Jupyter

.ipynb_checkpoints/

# PyCharm

*.iml

# Terraform (if you learn it later)

.terraform/
*.tfstate
*.tfstate.*

# Kubernetes Secrets

secrets.yaml
*.secret.yaml
